body {
    background: url('images/tennis.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, html {
  height: 100%;
}

h2 {
    font-size: 2em;
}
.login {
    width: 300px;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
    padding:20px;
    background-color: #efefef;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    text-align: center;
}

.login p {
    width: 300px;
    text-align: center;
    font-size:24px;
    color:gray;
    margin-bottom: 40px;
}
.login .btn-login {
    width: 150px;
    height: 40px;
    margin-top:15px;
}

.loginFail {
    background-color: #f17878;
    font-size: 12px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    color: #505050 !important;
    border-radius: 10px;
}

.header {
    width: 100%;
    background-color: #e6e6e6;
    height: auto;
}

.header .content {
    padding:5px;
    height: auto;
}

.header .content .userPrefs {
    list-style-type: none;
    float:right;
    margin: 0px !important;
}

.header .content .userPrefs form {
    margin: 0px;
}

.header .content .userPrefs .userName {
    color: #5d5e5f;
}

.header .content .userPrefs li {
    line-height: 40px !important;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.header .content .companyLogo {
    margin-left:10px;
    float:left;
}

.header .content .companyLogo img {
    height: 40px;

}

.sidebar {
    float: left;
    width: 250px;
    background-color: #3f51b5;
    margin-top: 5px;
    height: 80%;
    min-height: 600px;
    position: absolute;
    z-index: 100;
}

.sidebar .content {
    padding-top:20px;
    z-index: 102;
}

.sidebar .content .main-menu {
    margin: 0px;
}

.sidebar .content .main-menu li{
    list-style-type: none;
    height: 40px;
    padding-top:20px;
    background-color: #3446ad;
}
.sidebar .content .main-menu li:hover{
    cursor:pointer;
    background-color: #283aa0;
}

.sidebar .content .main-menu li p{
    font-weight: bold;
    color:white;
    text-decoration: none;
    padding-left: 10px;
}

.sidebar .content .status-menu {
    margin:0px;
    margin-top:50px;
}

.sidebar .content .status-menu li{
    list-style-type: none;
    height: 30px;
    color: white;
    padding-left:10px;
}

.sidebar .content .status-menu #credit-status{
    font-size: 1.6em;
}

.contentField {
    position:absolute;
    width: 100%;
    height: auto;
    min-height: 80%;
    background-color: #e6e6e6;
    margin-top: 5px;
    padding-bottom: 30px;
}

.contentField .content {
    padding: 20px;
    padding-left:270px;
}

.bookingTitle {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}
.clear {
    clear: both;
}

.footer {
    background-color: #3f51b5;
    width: 100%;
    height:40px;
}

.red{
    color:red;
}

.current{
    background-color:#8bc34a !important;
}

#info table{
    font-size: 1.2em;
}

#credit-buy-credit {
    width:120px;
    height:40px;
    color:white;
    background-color: #3f51b5;
    cursor:pointer;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    padding-left:30px;
    padding-right:30px;
    text-align: center;
}

#credit-buy-credit:hover{
    background-color: #3446ad;
}

.paypal-button-label {
    display:none;
    width:300px;
}

.success-message {
    padding: 20px;
    background-color: green;
    width: 500px;
    color: white;
}

.error-message {
    padding: 20px;
    background-color: red;
    width: 500px;
    color: white;
}
